.bash_history
.bash_logout
.bashrc
.cache
.git-credentials
.gitconfig
.local
.profile
.python_history
.sudo_as_admin_successful
.viminfo
.vim/.netrwhist
.Xauthority
.config
.ssh
.vim/pack/tpope/start/commentary/.gitignore
.vim/pack/tpope/start/surround/.gitignore
.vim/pack/tpope/start/unimpaired/.gitignore
